.ui-state-default .icon-buscar{
	background-image: url(../img/buscar.png);
}

.ui-widget .icon-opciones{
	background-image: url(../img/buscar.png);
}

.ui-selectonemenu .ui-selectonemenu-trigger {
border-right: none;
border-top: none;
border-bottom: none;
cursor: pointer;
width: 25px !important;
height: 100%;
position: absolute;
right: 0;
top: 0;
padding: 0 3px;
}