@CHARSET "ISO-8859-1";

ul.menu li a:HOVER {
	cursor: pointer;
}

.menu li ul li{
	display: none !important;
}

.menu a, .menu a:VISITED, .menu a:LINK{
    text-decoration: none;
}

ul.menu{
    list-style: none;
    margin:0;
    padding:0 0 0 0px;
}
ul.menu ul li{
    padding:0;
    float:left;
/*     background-color: #0066CC; */
    
}
ul.menu li ul li{
    padding:0;
    float:none;
    margin: 0 0 0 0px;
    width:100%;
}